.productItem {
	width: 300px;
    margin: auto;
    display: block;
}

.productItem > .productName {
	text-align: center;
}

.productItem > img {
	display: block;
	margin: auto;
}

.productItem > .productInfo {
	float: left;
}

.productItem > .addToCart {
	float: right;
}

.clear {
	clear: both;
}