<div class="nav navbar-nav navbar-right">
	<b class="navbar-text">Your cart: {{cartData.order_total | currency}}</b>
	<div class="btn-group navbar-btn">
		<button data-toggle="dropdown" class="btn btn-default navbar-btn glyphicon glyphicon-shopping-cart dropdown-toggle" ng-disabled="cartData.order_total == 0"></button>
		<ul class="dropdown-menu well">
	   		<li class="product" ng-repeat="product in cartData.product_items">
   				<div class="left">
	   				<p>Name: {{product.product_name}} Price: {{product.price | currency}} Quantity: {{product.quantity}}</p>
	   			</div>
	   			<div class="right">
	   				<button class="btn btn-primary" ng-click="deleteProductFromBasket(product)">Remove</button>
	   			</div>
	   			<div class="clear"></div>
	   		</li>
	   		<li class="divider"></li>
	   		<div id="paypal"></div>
	    </ul>
	</div>
</div>